{% extends 'layouts/sns_base.html' %}


{% block header %}
<div class="alert alert-info" role="alert">
    <h2>COMPANY SNS DETAIL</h2>
    <h5>Login User : {{ user.username }}</h5>
    <a class="btn btn-secondary" href="/sns/logout/">Logout</a>
</div>
{% endblock header %}

{% block content %}
    <div class="container">
        <a href="{% url 'sns_list' %}" class="btn btn-secondary">SNS LIST</a>
        <div class="alert alert-success" role="alert">
            <h4>タイトル: {{ object.title }}</h4>
            <h6>投稿者: {{ object.author }}</h6>
            <p>{{ object.content }}</p>
            <p><img src="/media/{{ object.snsimage }}" alt="#"></p>
            <p>いいね: {{ object.good }}</p>
            <p>既読: {{ object.read }}</p>
            <form action="{% url 'sns_good' object.pk %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-primary">いいねする</button>
            </form>
            <form action="{% url 'sns_read' object.pk %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-warning">既読する</button>
            </form>
        </div>
    </div>
{% endblock content %}