{% extends 'layouts/sns_base.html' %}


{% block header %}
    <div class="alert alert-info" role="alert">
        <h2>COMPANY SNS</h2>
        <h5>Login User : {{ user.username }}</h5>
        <a class="btn btn-secondary" href="{% url 'sns_logout' %}">Logout</a>
    </div>
{% endblock header %}


{% block content %}
    <div class="container">
        {% for object in object_list %}
            <div class="alert alert-success" role="alert">
                <h4>タイトル: <a href="{% url 'sns_detail' object.pk %}">{{ object.title }}</a></h4>
                <h6>投稿者: {{ object.author }}</h6>
                <p>{{ object.content }}</p>
                <p><img width="300" src="/media/{{ object.snsimage }}" alt="#"></p>
                <button class="btn btn-primary" disabled>いいね{{ object.good }}</button>
                <button class="btn btn-warning" disabled>既読{{ object.read }}人</button>
            </div>
        {% endfor %}
        <a href="{% url 'sns_create' %}" class="btn btn-danger">CREATE</a>
    </div>
{% endblock content %}