{% extends 'layouts/sns_base.html' %}


{% block content %}
    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}
        
    <div class="text-center">
        <form class="form-signup" action="{% url 'sns_logout' %}" method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please Logout</h1>
            <button class="btn btn-primary w-100 py-2" type="submit">Logout</button>
        </form>
    </div>
{% endblock content %}